# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/ParkFlow_db?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Email
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="ParkFlow <no-reply@parkflow.local>"

# Server
PORT=8001
NODE_ENV=development

# API Configuration
API_BASE_PATH=""
